.Form {
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    border-radius: 10px;
    background: rgba(111, 153, 179, 0.1);
    margin: auto
}
.Heading {
    margin: auto;
}
.BtnSuccess {
    width: 100px;
    height: auto;
    border-radius: 8px;
    border: none;
    padding: 10px;
    background: #7aac3d;
    margin: 20px auto;
}