.Default {
    width: 200px;
    border-radius: 5px;
    padding: 10px;
    border: none;
    color: #fff;
    font-size: 16px;
    margin: auto;
}
.BtnSuccess {
    background: green;
}
.BtnDanger {
    background: red;
    cursor: no-drop;
}