.Input {
    width: 100%;
    height: 25px;
    margin: 10px auto;
}

.Invalid {
    border: 1px solid  rgba(250,3,3,1);
    -webkit-box-shadow: 0px 0px 2px 0px rgba(250,3,3,1);
    -moz-box-shadow: 0px 0px 2px 0px rgba(250,3,3,1);
    box-shadow: 0px 0px 2px 0px rgba(250,3,3,1);
}
.Default {
    border: 1px solid rgb(154, 163, 213);
    -webkit-box-shadow: 0px 0px 2px 0px rgb(154, 163, 213);
    -moz-box-shadow: 0px 0px 2px 0px rgb(154, 163, 213);
    box-shadow: 0px 0px 2px 0px rgb(154, 163, 213);
}